$header-background: #2D2D2D;
$black: black;
$white: white;
$border-input-color: #7a7a7a;
$contrast-color: #0c70f2;
$border-search-background-card: #b7b7b7;
$error: red;
$hover-button:#023679;
$background-modal: rgba(217, 217, 217, 0.7);
$hover-button-end: #818181;
$backdrond-button-end: #676767;